.list-item {
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    margin: $m-size 0;
    text-decoration: none;
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}

.list-item__sub-title {
    color: $grey;
    font-size: $m-size
}