//Colors
$dark-grey: #333;
$grey: #666;
$light-grey: #F1F1F1;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;

//Sizes
$xs-size: 1rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//Radius
$radius-s-size: 3px;
$radius-m-size: 5px;